<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title><%= kategorie ? 'Kategorie bearbeiten' : 'Neue Kategorie' %></title>
    <link rel="stylesheet" href="/admin_style.css">
</head>
<body>
    <h1><%= kategorie ? 'Kategorie bearbeiten (ID: ' + kategorie.id + ')' : 'Neue Kategorie anlegen' %></h1>

    <%- include('../partials/error-box') %>

    <div class="card">
        <form action="/admin/categories/<%= kategorie ? 'edit/' + kategorie.id : 'add' %>" method="POST">
            <label>Name:</label><br>
            <input type="text" name="name" value="<%= kategorie ? kategorie.name : '' %>" required><br><br>
            
            <label>Beschreibung:</label><br>
            <input type="text" name="description" value="<%= kategorie ? kategorie.description : '' %>"><br><br>

            <label>
                <input type="checkbox" name="visible" <%= (kategorie === null || kategorie.visible) ? 'checked' : '' %>>
                Im Frontend anzeigen
            </label><br><br>

            <div class="btn-submit">
                <button type="submit" class="btn-add">Speichern</button>
                <a href="/admin/categories" class="btn-cancel">Abbrechen</a>
            </div>
        </form>
    </div>
</body>
</html>