<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title><%= kategorie ? 'Kategorie bearbeiten' : 'Neue Kategorie' %></title>
    <link rel="stylesheet" href="/admin_style.css">
</head>
<body>
    <h1><%= kategorie ? 'Kategorie bearbeiten (ID: ' + kategorie.id + ')' : 'Neue Kategorie anlegen' %></h1>

    <%- include('../partials/error-box') %>

    <div class="card">
        <form action="/admin/kategorien/<%= kategorie ? 'edit/' + kategorie.id : 'add' %>" method="POST">
            <label>Name:</label><br>
            <input type="text" name="name" value="<%= kategorie ? kategorie.name : '' %>" required><br><br>
            
            <label>Beschreibung:</label><br>
            <input type="text" name="description" value="<%= kategorie ? kategorie.description : '' %>"><br><br>

            <button type="submit" class="btn-add">Speichern</button>
            <a href="/admin/kategorien" class="btn-cancel">Abbrechen</a>
        </form>
    </div>
</body>
</html>